<div class=" flex-column flex-lg-row flex-column-fluid py-15" style="background-image: url('assets/images/backgroundimage.png'); background-size: cover; background-position: center;">

  <!--begin::Aside (Left side)-->
  <div class="w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-1">
    <!--begin::Content-->
    <div class=" flex-column flex-center py-15 px-5 px-md-15 w-100 custom-background">
      <!--begin::Logo-->
      <a routerLink="/" class="mb-12">
        <!-- <img alt="Logo" src="./assets/images/image.png" class="h-75px w-100" /> -->
      </a>
      <!--end::Logo-->

      <!--begin::Image-->
      <!-- <img class="mx-auto w-200px w-md-40 w-xl-350px mb-1 mt2 mb-lg-10" src="./assets/images/ADW_login_Image.png"
        alt="" /> -->

      <!-- <h2 class="text-center text-dark mt-1">Adi Dravidar and Tribal Welfare Department <br>
        Government of Tamil Nadu</h2> -->
      <!--end::Image-->

    </div>
    <!--end::Content-->
  </div>
  <!--end::Aside (Left side)-->

  <!--begin::Body (Right side)-->
  <!-- <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-2"> -->
    <!--begin::Form-->
    <!-- <div class="d-flex flex-center flex-column flex-lg-row-fluid"> -->
      <!--begin::Wrapper-->
      <div>
        <router-outlet></router-outlet>

        <!--begin::Form (Example form from your previous code)-->

        <!--end::Form-->

      </div>
      <!--end::Wrapper-->
    <!-- </div> -->
    <!--end::Form-->
  <!-- </div> -->
  <!--end::Body (Right side)-->

</div>
