

<div class="row g-5 gx-xxl-12 mb-3">
  <div class="card">
    <div class="card-header border-0 pt-6">
  <div class="col-xxl-12">
    <!-- Dashboard Cards -->
    <div class="row">
      <!-- Card 1: FIR List -->
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card text-white bg-primary h-100">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title text-white">
                <i class="fas fa-list-alt text-white"></i> FIR List
              </h5>
              <p class="card-text">View and manage FIR records in the system.</p>
            </div>
          </div>
          <div class="card-footer">
            <a href="/fir-list" class="text-white">Go to FIR List <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <!-- Card 2: Add FIR -->
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card text-white bg-success h-100">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title text-white">
                <i class="fas fa-plus-circle text-white"></i> Add FIR
              </h5>
              <p class="card-text">Fill out the form to add a new FIR.</p>
            </div>
          </div>
          <div class="card-footer">
            <a href="/add-fir" class="text-white">Add New FIR <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <!-- Card 3: Reports -->
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card text-white bg-danger h-100">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title text-white">
                <i class="fas fa-chart-bar text-white" ></i> Reports
              </h5>
              <p class="card-text">Generate and view system reports.</p>
            </div>
          </div>
          <div class="card-footer">
            <a href="/reports" class="text-white">View Reports <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <!-- Card 4: User Management -->
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card text-white h-100" style="background-color: steelblue;">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title text-white">
                <i class="fas fa-user-cog text-white"></i> User Management
              </h5>
              <p class="card-text">Manage users and their roles in the system.</p>
            </div>
          </div>
          <div class="card-footer">
            <a href="/user-management" class="text-white">Manage Users <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Additional Content Below Cards -->
    <div class="mt-5">
      <h4>Additional Information</h4>
      <p>Below you can find additional resources and guidelines related to FIR management and reports.</p>
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-info-circle"></i> FIR Guidelines and Best Practices
        </li>
        <li class="list-group-item">
          <i class="fas fa-file-alt"></i> System User Manuals
        </li>
        <li class="list-group-item">
          <i class="fas fa-external-link-alt"></i> External Resources on Law Enforcement
        </li>
      </ul>
    </div>

    <div></div>
    <br>
  </div>
</div>
</div>
</div>

<!-- FontAwesome Icons (for the icons) -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>



