<form class="form w-100 login-form" novalidate="novalidate" (ngSubmit)="submit()">
  <div class="text-center mb-4">
    <img src="./assets/images/image.png" alt="Login Image" class="login-image">
  </div>

  <div class="text-center mb-10">
    <h1 class="text-gray-900 fw-bolder mb-3">Forgot Password?</h1>

    <div *ngIf="step === steps.Email" class="text-gray-500 fw-semibold fs-6">Enter your email to reset your password.</div>
    <div *ngIf="step === steps.Otp" class="text-gray-500 fw-semibold fs-6">Enter the OTP sent to your email.</div>
    <div *ngIf="step === steps.ResetPassword" class="text-gray-500 fw-semibold fs-6">Enter your new password.</div>
  </div>

  <div *ngIf="errorState === errorStates.HasError" class="mb-lg-15 alert alert-danger">
    <div class="alert-text font-weight-bold">Sorry, looks like there are some errors detected, please try again.</div>
  </div>

  <div *ngIf="successMessage" class="mb-lg-15 alert alert-info">
    <div class="alert-text">{{ successMessage }}</div>
  </div>

  <div *ngIf="step === steps.Email" [formGroup]="forgotPasswordForm">
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-gray-900 fs-6">Email</label>
      <input class="form-control bg-transparent" type="email" formControlName="email" placeholder="Email" autocomplete="off"/>
    </div>
  </div>

  <div *ngIf="step === steps.Otp" [formGroup]="otpForm">
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-gray-900 fs-6">OTP</label>
      <input class="form-control bg-transparent" type="text" formControlName="otp" placeholder="Enter OTP" autocomplete="off"/>
    </div>
  </div>

  <div *ngIf="step === steps.ResetPassword" [formGroup]="resetPasswordForm">
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-gray-900 fs-6">New Password</label>
      <input class="form-control bg-transparent" type="password" formControlName="password" placeholder="New Password" autocomplete="off"/>
    </div>
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder text-gray-900 fs-6">Confirm Password</label>
      <input class="form-control bg-transparent" type="password" formControlName="confirmPassword" placeholder="Confirm Password" autocomplete="off"/>
    </div>
  </div>

  <div class="d-grid mb-10">
    <button type="submit" class="btn btn-primary" [disabled]="isLoading$ | async">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Submit</span>
      </ng-container>
    </button>
  </div>

  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <a routerLink="/auth/login" class="btn btn-light">Cancel</a>
  </div>
</form>
