

textarea.form-control {
  resize: none;
}

button[mat-raised-button] {
  width: 150px;
  font-weight: bold;
}
.card {
  border-radius: 5px;
  margin: 20px 0;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
}

.btn-primary {
  margin-top: 20px;
}
